---
import { Image } from '@astrojs/image/components';
import avatarImage from '../assets/avatar.jpeg';
import MainLayout from '../layouts/main.astro';
import Button from '../components/Button.astro';
import Icon, { Props as IconProps } from '../components/Icon.astro';

const name: string = "Ibrohim Hanafi"
const role: string = `Frontend Developer & Jr. Product Designer`
const description: string = `A self-taught developer, tech researcher, product designer, and lifelong learner from Indonesia. This individual possesses a unique set of skills that sets them apart in the tech industry. 
	With a passion for technology and design, he has honed their skills in frontend development, product design, and research. 
	His ability to adapt and learn quickly has allowed him to stay current with industry trends and advancements. 
	As a creative problem-solver, he brings a unique perspective to the development process and has a talent for creating user-friendly, visually appealing products which is a valuable asset.`
const socials: { title: string, icon: IconProps['icon'], url: string }[] = [
	{ title: 'Github', icon: 'github-logo', url: 'https://github.com/blackinitial' },
	{ title: 'Codepen', icon: 'codepen-logo', url: 'https://codepen.io/blackinitial' },
	{ title: 'Twitter', icon: 'twitter-logo', url: 'https://twitter.com/bl_int' },
	{ title: 'Facebook', icon: 'facebook-logo', url: 'https://www.facebook.com/ibrohim.mahmud.hanafi' },
	{ title: 'Instagram', icon: 'instagram-logo', url: 'https://www.instagram.com/bl_int/' },
	{ title: 'LinkedIn', icon: 'linkedin-logo', url: 'https://www.linkedin.com/in/blackinitial' },
]
---

<MainLayout title={`${name} - ${role}`} description={description}>
	<section id="hero-home" aria-labelledby="hero-home" class="relative scroll-mt-14 pb-3 pt-8 sm:scroll-mt-32 sm:pb-16 sm:pt-10 lg:pt-16 h-full">
		<div class="relative mx-auto max-w-5xl pt-16 pb-8 sm:px-6">
			<div class="bg-brand-card pt-px drop-shadow-xl sm:rounded-6xl">
				<div class="relative mx-auto -mt-16 h-44 w-44 overflow-hidden rounded-full bg-slate-200 drop-shadow-xl md:float-right md:h-64 md:w-64 md:[shape-outside:circle(40%)] lg:mr-20 lg:h-72 lg:w-72">
					<Image src={avatarImage} width={400} format="webp" alt="Ibrohim Avatar Image" class="absolute inset-0 h-full w-full object-cover" />
				</div>
				<div class="px-4 py-10 sm:px-10 sm:py-16 md:py-20 lg:px-20">
					<Button>Say Hi 👋🏻!</Button>
					<p class="mt-8 font-display text-4xl font-extrabold tracking-normal leading-tight text-slate-900 sm:text-5xl">
						<span class="block shining-text">{name} –</span>
						<span class="text-brand-head" set:html={role.replace("&", "& <br />")}/>
					</p>
					<p class="mt-4 text-xl text-brand prose">{description}</p>

					<div class="mx-4 mt-4 flex flex-row flex-wrap items-center justify-center">
						{socials.map(({ title, url, icon }) => (
							<div class="mx-4 mt-8">
								<a target="_blank" href={url} title={`Follow on ${title}`} class="inline-flex items-center text-base font-medium tracking-tight text-amber-500 hover:text-amber-300">
									<Icon icon={icon} size="1.75em" color="var(--gradient-stop-2)" gradient />
								</a>
							</div>
						))}
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>

<style>
.shining-text {
	@apply text-transparent bg-clip-text bg-gradient-to-br from-amber-100 via-amber-500 to-amber-700;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0%, 100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}
</style>